h1{
    font-weight:bolder ;
    color:crimson;
    animation-name: thaniksha;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
canvas{
    border: 2px dashed black;
    animation-name:chitti;
    animation-duration:3s;
    animation-iteration-count: infinite;
}
@keyframes chitti{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px blue;}
}
.btn-warning:hover{
    background-color: yellowgreen;
}

@keyframes thaniksha{
    0%{color:crimson};
    100%{color:black};
}